<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      if include.match(/^--/)
        include_title = include.match(/^--(.*)/)[1]
        include_id = include_title.delete(' ')
        page_content += "<h1 id='#{include_id}'>#{include_title}</h1>".html_safe
      else
        page_content += partial("includes/#{include}")
      end
    end
  end
%>

<!doctype html>
<html>
  <head>
    
  <script>

  //This is Googles default GA code
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-79317370-3', 'auto');
    ga('send', 'pageview');
    //This does hash-click tracking (inspired by http://stackoverflow.com/a/4813223)
    window.onload = function() {

      var nodeList = document.getElementsByClassName("toc-link");
      [].forEach.call(nodeList, function(e) { e.addEventListener('click', function() {
        ga('send', 'pageview', {'page': location.pathname + location.hash});
      },false) } );

    };
  
  </script>

  <svg width="0" height="0" class="hidden">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 15" id="folder">
    <path d="M6.433 1.767a1.25 1.25 0 011.25 1.25v.233a1.25 1.25 0 001.25 1.25h5.9a1.25 1.25 0 011.25 1.25v6.467a1.25 1.25 0 01-1.25 1.216H3.167a1.25 1.25 0 01-1.25-1.25V3.017a1.25 1.25 0 011.25-1.25h3.266zm0-1.25H3.167a2.5 2.5 0 00-2.5 2.5v9.166a2.5 2.5 0 002.5 2.5h11.666a2.5 2.5 0 002.5-2.5v-6.45a2.5 2.5 0 00-2.5-2.5h-5.9V3a2.5 2.5 0 00-2.5-2.5v.017z"></path>
  </symbol>
  </svg>

  <svg width="0" height="0" class="hidden">
  <symbol fill="#3F7DE8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 15" id="folder-parent">
    <path d="M15.092 2.933H9.675V2.55A2.05 2.05 0 007.625.5H2.717a2.05 2.05 0 00-2.05 2.05v10.183a2.05 2.05 0 002.05 2.05h12.375a2.05 2.05 0 002.041-2.05V4.975a2.042 2.042 0 00-2.041-2.042z" fill"#3F7DE8"></path>
  </symbol>
  </svg>

  <svg width="0" height="0" class="hidden">
  <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 16" id="Ballon">
    <path d="M6.94.504c-1.576 0-3.206.26-4.323.945C.803 2.579.272 4.783.345 6.82c.055 1.76.513 3.65 1.759 4.947 1.172 1.241 3.59 1.797 5.257 1.797.073 0 .147.055.147.148v1.778a.31.31 0 00.311.315h.037a.231.231 0 00.165-.074c.824-.722 1.667-1.463 2.472-2.204.77-.723 1.65-1.464 2.235-2.335 1.264-1.834 1.466-4.409 1.045-6.558C13.37 2.58 11.923 1.227 9.907.8A14.515 14.515 0 006.94.504z" fill="#D2DFE6"></path>
  </symbol>
  </svg>

  <svg width="0" height="0" class="hidden">
  <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16" id="community">
    <path opacity=".6" d="M17.083 4.417c-.416-1.917-1.75-3.25-3.75-3.667C12.5.583 11.583.5 10.667.5h-.25c1.833.583 3.166 1.917 3.5 3.833.5 2.417.083 4.75-1.084 6.417-.5.75-1.166 1.333-1.75 1.833l-.333.333-.083.084v1.083c0 .417.333.667.75.667.166 0 .25-.084.416-.167.584-.5 1.417-1.25 2.167-1.917l.333-.333c.584-.583 1.25-1.167 1.667-1.833 1.167-1.583 1.583-3.833 1.083-6.083z" fill="#D2DFE6"></path>
    <path d="M13.917 4.333C13.5 2.25 12 .75 9.833.333a14.675 14.675 0 00-2.75-.25c-1.25 0-3 .167-4.25 1C1.167 2.083.333 4 .417 6.5c.083 1.417.416 3.417 1.75 4.917 1.083 1.083 3 1.666 4.583 1.833v.917c0 .583.5 1.083 1.083 1.083h.084c.25 0 .416-.083.583-.25.917-.75 1.583-1.417 2.25-2l.333-.333c.584-.584 1.25-1.167 1.75-1.834 1.167-1.75 1.584-4.166 1.084-6.5zM4.167 7.75c-.584 0-1-.417-1-1s.416-1 1-1c.583 0 1 .417 1 1s-.417 1-1 1zm3.083 0c-.583 0-1-.417-1-1s.417-1 1-1 1 .417 1 1-.5 1-1 1zm3 0c-.583 0-1-.417-1-1s.417-1 1-1 1 .417 1 1-.417 1-1 1z" fill="#D2DFE6"></path>
  </symbol>
  </svg>

  <svg width="0" height="0" class="hidden">
  <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" id="Logo git">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.522 2.55a10.002 10.002 0 0112.96.002 10.002 10.002 0 01-3.31 17.101c-.507.098-.686-.213-.686-.48l.002-.555c.003-.516.008-1.294.008-2.19 0-.932-.32-1.541-.678-1.851 2.228-.248 4.566-1.093 4.566-4.935a3.865 3.865 0 00-1.028-2.685c.104-.255.446-1.272-.098-2.65 0 0-.846-.262-2.747 1.025a9.5 9.5 0 00-5.01 0C5.59 4.04 4.75 4.307 4.75 4.307c-.543 1.381-.2 2.398-.096 2.65a3.867 3.867 0 00-1.032 2.688c0 3.832 2.344 4.69 4.558 4.94-.287.25-.545.69-.636 1.337-.57.26-2.017.7-2.91-.828 0 0-.528-.96-1.534-1.03 0 0-.975-.014-.068.607 0 0 .656.305 1.112 1.464 0 0 .586 1.784 3.368 1.18l.009 1.14.005.721c0 .265-.186.575-.683.482A10.001 10.001 0 013.522 2.55zm.103 12.007c.067.033.144.018.166-.031h-.002c.025-.05-.024-.118-.09-.151-.064-.033-.142-.018-.165.031-.023.05.025.118.091.151zm.572.42c-.048.046-.141.024-.206-.046a.152.152 0 01-.028-.207c.05-.044.14-.023.206.047.066.07.077.165.028.207zm.17.491c.058.086.163.13.224.086.061-.043.058-.155 0-.24-.058-.085-.162-.127-.224-.085-.06.044-.058.153 0 .239zm.77.643a.188.188 0 01-.263-.045c-.088-.081-.112-.195-.056-.255s.165-.045.258.038c.093.083.113.195.055.255l.006.007zm.49.404c.113.033.224-.004.25-.081.02-.08-.052-.171-.166-.206-.115-.035-.229.002-.25.081-.022.08.05.173.165.206zm1.067-.022c0 .083-.092.15-.212.153-.119.001-.215-.063-.217-.146-.001-.083.093-.15.214-.153.12-.001.215.065.215.146zm.577.056c.117-.02.2-.104.185-.185-.015-.081-.122-.13-.238-.11-.116.02-.2.105-.186.186.015.081.121.13.239.11z" fill="#D2DFE6"></path>
  </symbol>
  </svg>

  <svg width="0" height="0" class="hidden">
  <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="suggest">
    <path d="M15.775 7.842a2.159 2.159 0 00-1.167-1.8L9.292 3.283 4.092.592A2.708 2.708 0 00.2 3.142l.5 2.75a1.892 1.892 0 001.883 1.483h6.25a.625.625 0 010 1.25H2.275A1.575 1.575 0 00.7 9.833l-.5 2.742a2.709 2.709 0 003.892 2.558l5.2-2.7L14.6 9.667a2.159 2.159 0 001.167-1.809v-.05l.008.034z" fill="#D2DFE6"></path>
  </symbol>
  </svg>

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="images/favicon.ico" rel="icon" type="image/ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <title> Blip Docs | API Reference </title>

    <style>
      <%= Rouge::Themes::Monokai.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="toc-wrapper">
      <a href="http://docs.blip.ai" target="_blank">
        <%= image_tag "LogoL.svg", class: 'logo' %>
      </a>
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <div id="toc" class="toc-list-h1">
        <% toc_data(page_content).each do |h1| %>
          <li>
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:content] %>"><svg class="icon-folder"><use xlink:href="#folder"></use></svg><%= h1[:content] %></a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li class="second">
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h1[:content] %>"><svg class="icon-folder-parent"><use xlink:href="#folder-parent"></use></svg><%= h2[:content] %></a>
                    <% if h2[:children].length > 0 %>
                      <ul class="toc-list-h3">
                        <% h2[:children].each do |h3| %>
                          <li class="third">
                            <a href="#<%= h3[:id] %>" class="toc-h3 toc-link" data-title="<%= h1[:content] %>"><%= h3[:content] %></a>
                          
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </div>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each_with_index do |footer, index| %>
            <% if (index == 0) %>
              <li><svg class="icon-footer"><use xlink:href="#Ballon"></use></svg><%= footer %></li>
            <% elsif (index == 1) %>
              <li><svg class="icon-footer"><use xlink:href="#community"></use></svg><%= footer %></li>
            <% elsif (index == 2) %>
              <li><svg class="icon-footer"><use xlink:href="#Logo git"></use></svg><%= footer %></li>
            <% elsif (index == 3) %>
              <li><svg class="icon-footer"><use xlink:href="#suggest"></use></svg><%= footer %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= page_content %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
